<%= link_to("<< Back to List", members_path, :class => 'back-link') %>

<div class="officers edit">
  <h3><%= "Update Officer Info for <#{@officer.name}>"%> </h3>

  <%= form_for(@officer) do |f| %>

    <table summary="Officer form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
      <tr>
        <th>Position</th>
        <td><%= f.select(:position, ["Officer", "Above officer"]) %></td>
      </tr>
      <tr>
        <th>UIN</th>
        <td><%= f.text_field(:uin) %></td>
      </tr>
      <tr>
        <th>Points</th>
        <td><%= f.text_field(:points) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Officer") %>
    </div>

  <% end %>
</div>
