
<% if !flash[:notice].blank?%>
  <div class="notice">
    <%= flash[:notice]%>
  </div>
<%end%>

<a href = "/members"  class="btn btn-danger" role="button">Back to homepage</a>
<div class="row justify-content-center">
  <div class="col-auto">
  <div class="officers show">
  <h3><%= "Show Details of Officer <#{@officer.name}>"%></h3>

  <table summary="member detail view">
    <tr>
      <th>Name</th>
      <td><%= @officer.name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @officer.email %></td>
    </tr>
    <tr>
      <th>Position</th>
      <td><%= @officer.position %></td>
    </tr>
    <tr>
      <th>UIN</th>
      <td><%= @officer.uin %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= @officer.points %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @officer.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @officer.updated_at %></td>
    </tr>
  </table>

</div>
  </div>
</div>