<div class="container-fluid">
<div class="row justify-content-md-center">
    <div class="col-lg-4 my-5">
      <!-- Material form login -->
      <%if !flash[:notice].blank?%>
        <div class="alert alert-danger">
          <%=flash[:notice]%>
        </div>
      <%end%>
      <div class="card mt-5">

          <h2 class="card-header text-center py-4" style="background: lightblue">
              Create an Account
          </h2>
        
          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">
            <%= form_for(@officer, :method => 'post') do |f| %>
              
              <div class="mb-4">
                  <h4 class="mb-2">Name<h4>
                  <%= f.text_field(:name) %>
              </div>

              <div class="mb-4">
                <h4 class="mb-2">Email<h4>
                <%= f.password_field(:email) %>
              </div>

              <div class="mb-4">
                <h4 class="mb-2">Password<h4>
                <%= f.password_field(:password) %>
              </div>

              <div class="mb-4">
                <h4 class="mb-2">Position<h4>
                <%= f.select(:position, ["Officer", "Above officer"]) %>
              </div>

              <div class="mb-4">
                <h4 class="mb-2">UIN<h4>
                <%= f.text_field(:uin) %>
              </div>

              <div class="text-center mb-1 pb-1">
                <!-- Sign in button -->
                <button type="submit" class="btn btn-primary btn-lg mb-3">Register</button>

              </div>
            <% end %>
          </div>
      </div>
    </div>
</div>
</div>

