<a href = "/members"  class="btn btn-danger" role="button">Back to homepage</a>
<div class="row justify-content-center">
  <div class="col-auto">
<div class="members edit">
  <h2>Update a Member's Info</h2>
  <h3><%= "Update Member Info for <#{@member.name}>"%> </h3>

  <%= form_for(@member) do |f| %>

    <table summary="Member form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.email_field(:email) %></td>
      </tr>
      <tr>
        <th>UIN</th>
        <td><%= f.text_field(:uin) %></td>
      </tr>
      <tr>
        <th>Points</th>
        <td><%= f.text_field(:points) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Member") %>
    </div>

  <% end %>
</div>
  </div>
</div>