<a href = "/members"  class="btn btn-danger" role="button">Back to homepage</a>

<div class="row justify-content-center">
  <div class="col-auto">
<div class="table-responsive col-sm-6">

      <h3> <%= "#{@member.name}'s Point Log" %></h3>
     
       <p style = "font-size: 18px"> <%= "Total Points: #{@member.points}"   %>  </p>
       <p style = "font-size: 18px"> <%= "Custom points: #{@totalCustomPoints}"   %>  </p> 
       <p style = "font-size: 18px"> <%= "Attendance points: #{@totalAttendancePoints}"   %>  </p>
        <table class="table table-striped" summary="members list">
            <tr class="header">
                <th><%= "Event Name"%></th>

                <th><%= "Event Description"%></th>

                <th><%= "Points Worth"%></th>

            </tr>
            <% @outArr.each do |event| %>
                <tr>
                    <td><%= event.name %></td>
                    <td><%= event.description %></td>
                    <td class="center"><%= event.pointsWorth %></td>

                </tr>
            <% end %>
        </table>
    </div>
  </div>
</div>