<a href = "/members"  class="btn btn-danger" role="button">Back to homepage</a>
<div class="members new">


  <%= form_for(@member, :url => members_path, :method => 'post') do |f| %>
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2>Create Member</h2>
        <table summary="Member form fields">
          <tr>
            <th>Name</th>
            <td><%= f.text_field(:name) %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= f.text_field(:email) %></td>
          </tr>
          <tr>
            <th>UIN</th>
            <td><%= f.text_field(:uin) %></td>
          </tr>
          <tr>
            <th>Points</th>
            <td><%= f.text_field(:points) %></td>
          </tr>
        </table>

        <div class="form-buttons">
          <%= f.submit("Add New Member") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
