<% if !flash[:notice].blank?%>
  <div class="notice">
    <%= flash[:notice]%>
  </div>
<%end%>

<a href = "/members"  class="btn btn-danger" role="button">Back to homepage</a>

<div class="row justify-content-center">
  <div class="col-auto">
<div class="members show">
  <h3><%= "Show Details of Member <#{@member.name}>"%></h3>

  <table summary="member detail view">
    <tr>
      <th>Name</th>
      <td><%= @member.name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @member.email %></td>
    </tr>
    <tr>
      <th>UIN</th>
      <td><%= @member.uin %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= @member.points %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @member.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @member.updated_at %></td>
    </tr>
  </table>

</div>
  </div>
</div>